RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l

#	ESTAMOS RECIBIENDO SOLO EL CONTROLADOR

RewriteRule ^(.*)/?(.*)/?$ index.php?url=$1&Pagina=$2 [L,QSA]
